
<img id="admin"src="assets/P2.png">
<img id="ecole" src="assets/p6.png">
<img id="carthage" src="assets/p7.png">
<div class="conatiner">
    <form  id="form">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="Email"  class="btn btn-outline-secondary" type="text" placeholder="Email" style="width: 400px;">
            </div>
        </div>
        <br>
    
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon " uk-icon="icon: lock"></span>
                <input name="Password"   class="btn btn-outline-secondary" type="password" placeholder="Password" style="width: 400px;">
            </div>
        </div>
        <br>
        <button type="submit" id ="signIn" class="btn btn-info" style="width: 100%;">Sign In</button>
        <br>
        <br>
        <button id ="forgetIt"  class="btn btn-secondary" style="width:100%;">Forget It</button>
        <br>
        <br>
        <p class="alert-danger" ></p>
    
    </form>
</div>
